
# PostgreSQL
DB_USER = "postgres"
DB_PASS = "your_password_here"
DB_HOST = "db"
DB_NAME = "live_leaderboard_db"

# Prisma connection string.
DATABASE_URL = "postgresql://postgres:your_password_here@localhost:5432/live_leaderboard_db"

# Redis 
REDIS_URL = "redis://localhost:6379"
